../.CFUserTextEncoding
	../.DS_Store
	../.gitconfig
	../.idlerc/
	../.mongodb/
	../.npm/
	../.python_history
	../.ssh/
	../.viminfo
	../.vscode/
	../.zprofile
	../.zsh_history
	../.zsh_sessions/
	../2023-05-12.txt
	../2023-05-12.xlsx
	../2023-05-15.txt
	../2023-05-16.txt
	../2023-05-16.xlsx
	../2e5a7bd4ca79d1ac.gif
	../Applications/
	../Desktop/
	../Documents/
	../Downloads/
	../FASTAPI/
	../Library/
	../Movies/
	../Music/
	../Pictures/
	../Public/
	Experimental_Repo/
	Experimental_Repo_G/
	../__pycache__/
	../a360ed7a9223320e.gif
	../attach.py
	../cluster_robotic_arm_service-main.zip
	../cluster_robotic_arm_service-main/
	../django-basic1/
	../figure_out.py
	../from_to_basic_code.py
	../get-pip.py
	../modified.py
	../nextlevel.py
	../nextlevel_output.xlsx
	../panda_try.py
	../pandas_to_excel.xlsx
	../pymongo_task1.py
	../real_task1.py
	../task_1Code.js
	../task_1_completed.py
	../try.py
	../try2.js
	../try_another.py
	../trying.py
	../worked.py
